.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
  }
/* The content of the tutorial for the chart has been taken from https://scrimba.com/p/pEKMsN/cast-1953 */
  